body{
    margin: 20px;
    padding: 0;
}
.cart-container{
    max-width: 600px;
    margin: auto;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
}
.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.cart-item img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}
.total-price{
    text-align: right;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;

}
.quantity-controls {
    display: flex;
    align-items: center;
}
.quantity-controls button {
    width: 25px;
    height: 25px;
    border: none;
    background: #ddd;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
}