html,body {
    display: flex; 
    height: 100%; 
    justify-content: center; /* chiều ngang */
    align-items: center; /*  g iữa theo chiều dọc */
    font-family: Arial, sans-serif;
}   
h1{
    display: flex;
    margin: auto;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}
.menthod{
    background-color: rgba(128, 128, 128, 0.105);
    backdrop-filter: blur(10px);
    width: 430px;
    height: 400px;
    margin: auto;  /* vaof giua */
    padding: 30px; /*khoang cach voi viem */
    

    border-radius: 15px;
}
input[type="text"]{
   
    width: 94%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none; /* hêt vien den */
    font-size: 14px;
  
    
}
input[type="password"]{
    width: 94%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none; /* hêt vien den */
    font-size: 14px;
}
.men ul{
    display: flex;
    gap: 20px;
    padding: 0;
    justify-content: space-between;
    list-style: none;

}
.men li {
   
    color: #0c335c; 
    cursor: pointer; /* Thêm hiệu ứng con trỏ khi di chuột qua */
}
.men li:hover {
    text-decoration: underline; /* Thêm gạch dưới khi hover */
}
p {
    margin: 10px 0 5px;
    font-size: 15px;
    font-weight: bold;
}


.mentr button{
    width: 440px;   
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 15px;
    background-color: rgba(128, 128, 128, 0.301);

    cursor: pointer;
    transition: all 0.3s;
}
/* Hiệu ứng khi rê chuột vào nút */
.mentr button:hover {
    background: linear-gradient(to right, #667eea, #764ba2);
    box-shadow: 0px 5px 15px rgba(118, 75, 162, 0.4);
}